
	<%- include ../partials/header.ejs %>

<div id="regForm">
	<div id="newForm">

		<h1>Project Edit</h1>

		<form action="/projects/<%=project._id%>?_method=PUT" method="POST">

			<input type="text" name="name" value="<%=project.name%>"><br/>
			<input type="text" name="projectURL" value="<%=project.projectURL%>"><br/>
			<input type="text" name="repo" value="<%=project.repo%>"><br/>
			<input type="text" name="projectImage" value="<%=project.projectImage%>"><br/>


			<textarea name="description"><%=project.description%></textarea><br/>

			<button type="submit">Submit Changes</button><br/>
			
		</form>


		<form action="/projects/<%=project._id%>?_method=DELETE" method="POST">
			<button type="submit">Delete Project</button>
		</form>
	</div>
</div>


<%- include ../partials/footer.ejs %>
</html>