<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Project Show Page</title>
</head>
<body>
	<%- include ../partials/header.ejs %>

	<h1><%=project.name%></h1>
	<p>Description: <%=project.description%></p>


	<p>Project URL: <a href="<%=project.projectURL%>"><%=project.projectURL%></a></p>
	
	<p>Project Repository: <a href="<%=project.repo%>"><%=project.repo%></a></p>
	<img src="<%=project.projectImage%>" class="projectImage"><br/>
	<a href="/projects/<%=project._id%>/edit"><button>EDIT</button></a>

<%- include ../partials/footer.ejs %>
</html>








