
	<%- include ../partials/header.ejs %>

<div id="regForm">
	<div class="newForm">

		<h1><%=project.name%></h1>
		<p><strong>Description:</strong> <%=project.description%></p>


		<p><strong>Project URL:</strong> <a href="<%=project.projectURL%>"><%=project.projectURL%></a></p>
		
		<p><strong>Project Repository: </strong><a href="<%=project.repo%>"><%=project.repo%></a></p>
		<img src="<%=project.projectImage%>" class="projectImage"><br/>
		
		<% if (loggedIn) { %>
			<a href="/projects/<%=project._id%>/edit"><button class="editButton">EDIT</button></a>
		<% } %>
	</div>
</div>

<%- include ../partials/footer.ejs %>
</html>








