
	<%- include ../partials/header.ejs %>
<div id="regForm">
	<div class="newForm">

		<h1>Profile Edit</h1>

		<form action="/users/<%=user._id%>?_method=PUT" method="POST">
			<div>
				<p>Username: </p>
				<input type="text" name="username" value="<%=user.userName%>">
			</div>
			<div>
				<p>First Name: </p>
				<input type="text" name="firstName" value="<%=user.firstName%>">
			</div>
			<div>
				<p>Last Name: </p>
				<input type="text" name="lastName" value="<%=user.lastName%>">
			</div>
			<div>
				<p>Email Address: </p>
				<input type="text" name="email" value="<%=user.email%>">
			</div>
			<div>
				<p>Location: </p>
				<input type="text" name="location" value="<%=user.location%>">
			</div>
			<div>
				<p>Image URL: </p>
				<input type="text" name="imageURL" value="<%=user.imageURL%>">
			</div>

			<div>
				<p>Developer Experience:</p>

				<textarea name="description"><%=user.description%></textarea>
			</div>

			<button type="submit" class="submitBtn">Submit Changes</button><br/>
			
		</form>


		<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
			<button type="submit">Delete Account</button>
		</form>
	</div>
</div>


<%- include ../partials/footer.ejs %>
</html>