
	<%- include ../partials/header.ejs %>

<div id="regForm">
	<div class="newForm">
		<div class="topContainer">
			<h1>Developer List</h1>
		</div>
		<ul> <!-- ul {
			  list-style-type: none;
			} to remove bullets from <li> -->
			<% for(let i = 0; i < users.length; i++) {%>
				<li>
					<div class="userDiv">
						<a href="/users/<%=users[i]._id%>">
							<div class="userImgDiv">
								<img src="<%=users[i].imageURL%>" class="profileImg">
							</div><br>
						</a>
						<p>Developer Name: <%=users[i].firstName%> <%=users[i].lasttName%></p>
						<p>Experience: <%=users[i].description%></p>
					</div>
				</li>
			<%}%>
		</ul>
	</div>
</div>

<%- include ../partials/footer.ejs %>
</html>