
	<%- include ../partials/header.ejs %>

<div id="regForm">
	<div class="newForm">
		<div class="topContainer">
			<h1>Developer List</h1>
		</div>
		<ul> <!-- ul {
			  list-style-type: none;
			} to remove bullets from <li> -->
			<% for(let i = 0; i < users.length; i++) {%>
				<li>
					<a href="/users/<%=users[i]._id%>">
						<div id="userImgDiv">
							<img src="<%=users[i].imageURL%>">
						</div><br>
					</a>
					<p>Developer Name: <%=users[i].firstName%> <%=users[i].lasttName%></p>
					<p>Experience: <%=users[i].description%></p>

				</li>
			<%}%>
		</ul>
	</div>
</div>

<%- include ../partials/footer.ejs %>
</html>