
<%- include ../partials/header.ejs %>


	<h1>User Profile</h1>

	<small><%= message %></small>
		<div id="regForm">
			<div id="newForm">
				<div>
					<img src="<%=user.imageURL%>" class="userImage">
				</div>
				<div>
					<p>Username: <%=user.userName%></p>
				</div>
				<div>
					<p>Name: <%=user.firstName%> <%=user.lastName%></p>
				</div>
				<div>
					<p>Email: <%=user.email%></p>
				</div>
				<div>
					<p>Location: <%=user.location%></p>
				</div>
				<div>
					<p>Description: <%=user.description%></p>
				</div>
				<div>
					<a href="/users/<%=user._id%>/edit"><button class="button">EDIT</button></a>
				</div>
				<div>
					<h2 class="userShowH2">Projects</h2>
				</div>
				<div>
					<a href="/projects/new">
						<button type="submit" class="button">Create New Project</button>
					</a>
				</div>
					<ul>
						<% for(let i = 0; i < user.projects.length; i++) { console.log("here's a project\n",user.projects[i]) %>
							<li>
								<div>
									<a href="/projects/<%=user.projects[i]._id%>">
										<h3>Project Name: <%=user.projects[i].name%><br></h3>
									</a>
								</div>
								<div>
									<p>Project Description: <%=user.projects[i].description%></p>
								</div>
								<div>
									<img src="<%=user.projects[i].projectImage%>" class="projectImage" /> 
								</div>
							</li>
						<% } %>
					</ul>
			</div>
		</div>


<%- include ../partials/footer.ejs %>
</html>


