<!DOCTYPE html>
<html>
<head>
	<title>User Show Page</title>
</head>
<body>

	<h1>User Profile</h1>

	<img src="<%=user.imageURL%>">

	<p>Username: <%=user.userName%></p>
	<p>Name: <%=user.firstName%> <%=user.lastName%></p>
	<p>Email: <%=user.email%></p>
	<p>Location: <%=user.location%></p>
	<br/>
	<p>Description: <br/><%=user.description%></p>

</body>
</html>


