
<%- include ../partials/header.ejs %>


	<h1>User Profile</h1>

		<div id="regForm">
			<div class="newForm">
				<small><%= message %></small>
				<div>
					<img src="<%=user.imageURL%>" class="userImage">
				</div>
				<div>
					<p><strong>Username:</strong> <%=user.userName%></p>
				</div>
				<div>
					<p><strong>Name:</strong> <%=user.firstName%> <%=user.lastName%></p>
				</div>
				<div>
					<p><strong>Email:</strong> <%=user.email%></p>
				</div>
				<div>
					<p><strong>Location:</strong> <%=user.location%></p>
				</div>
				<div>
					<p><strong>Description:</strong> <%=user.description%></p>
				</div>
				<% if (loggedIn === true) { %>
				<div>
					<a href="/users/<%=user._id%>/edit"><button class="button">EDIT</button></a>
				</div>
				<% } %>
				<div>
					<h1 class="userShowH2">Projects</h1>
				</div>
				<% if (loggedIn === true) { %>
					<div>
						<a href="/projects/new">
							<button type="submit" class="button">Create New Project</button>
						</a>
					</div>
				<% } %>
				
					<ul>
						<% for(let i = 0; i < user.projects.length; i++) { console.log("here's a project\n",user.projects[i]) %>
							<li>
								<div>
									<a href="/projects/<%=user.projects[i]._id%>">
										<div class="showProjects">
											<div class="projectImage">
												<img src="<%=user.projects[i].projectImage%>" class="projectImage" /> 
											</div>
											<h3>Project Name: <%=user.projects[i].name%></h3>
											<div>
												<p>Project Description: <%=user.projects[i].description%></p>
											</div>
										</div>
									</a>
								</div>
							</li>
						<% } %>
					</ul>
			</div>
		</div>


<%- include ../partials/footer.ejs %>
</html>


